Old/
backup/
cmplx_simp/
keep_duplicates/
final_eqs/
test_dir/
outfiles/

ExhaustiveSR/data/DataRelease/
ExhaustiveSR/plotting/figs/
ESR/data/DataRelease/
ESR/plotting/figs/

ESR/plotting/pres_plots/

test_inv_subs.py
test_new_trees.py
test_conversion.py
inv_checker.py
memory_test.py

*.sh
*.out
*.swp
*.DS_Store

*__pycache__
.bashrc
.ipynb_checkpoints/

ExhaustiveSR/function_library/core_maths/
ExhaustiveSR/function_library/ext_maths/
ExhaustiveSR/function_library/osc_maths/
ExhaustiveSR/function_library/tests/
ESR/function_library/core_maths/
ESR/function_library/ext_maths/
ESR/function_library/osc_maths/
ESR/function_library/tests/


ExhaustiveSR/fitting/output
ExhaustiveSR/fitting/old_panth
ExhaustiveSR/fitting/test_script.py
ESR/fitting/output
ESR/fitting/old_panth
ESR/fitting/test_script.py

ext_maths
