Old/
backup/
cmplx_simp/
keep_duplicates/
final_eqs/
test_dir/
outfiles/

ExhaustiveSR/data/DataRelease/
ExhaustiveSR/plotting/figs/
esr/data/DataRelease/
esr/plotting/figs/

esr/plotting/pres_plots/

test_inv_subs.py
test_new_trees.py
test_conversion.py
inv_checker.py
memory_test.py

*.sh
*.out
*.swp
*.DS_Store

*__pycache__
.bashrc
.ipynb_checkpoints/

ExhaustiveSR/function_library/core_maths/
ExhaustiveSR/function_library/ext_maths/
ExhaustiveSR/function_library/osc_maths/
ExhaustiveSR/function_library/tests/
esr/function_library/core_maths/
esr/function_library/ext_maths/
esr/function_library/osc_maths/
esr/function_library/tests/


ExhaustiveSR/fitting/output
ExhaustiveSR/fitting/old_panth
ExhaustiveSR/fitting/test_script.py
esr/fitting/output
esr/fitting/old_panth
esr/fitting/test_script.py

ext_maths
esr_env
ESR
build/
