Old/
backup/
cmplx_simp/
data/DataRelease/
keep_duplicates/
test_dir/
outfiles/
figs/
final_eqs/

test_inv_subs.py
test_new_trees.py
test_conversion.py
inv_checker.py
memory_test.py

*.sh
*.out

*__pycache__
.bashrc
.ipynb_checkpoints/

core_maths/
ext_maths/
osc_maths/

Pantheon/figs_panth/
Pantheon/output_panth/
Pantheon/partial_panth/
Pantheon/figs_cc/
Pantheon/output_cc/
Pantheon/partial_cc/

cosmic_chronometers/
